/* Colors */
$blackpure: #000;
$black: #171718;
$black-border: #26292d;
$white: #fff;
$accent: #f5c339;
$shadow: rgba(0, 0, 0, 0.25);

// Dark mode
$bg: #38383a;
$text: #fdfdfd;
$project-bg: $black;
$project-text: $white;
