@import "../../styles/vars.scss";

.header {
  padding: 40px 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $black;
  background-image: url("./../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;

  color: $white;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;

    strong {
      font-size: 60px;
      font-weight: 700;
    }

    em {
      font-style: normal;
      color: $accent;
    }
  }

  p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;

    p + p {
      margin-top: 0.5em;
    }
  }
}

.wrapper {
  padding: 0 15px;
  max-width: 680px;
}

@media (max-width: 700px) {
  .header {
    h1 {
      font-size: 30px;

      strong {
        font-size: 50px;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    h1 {
      font-size: 24px;

      strong {
        font-size: 32px;
      }
    }

    p {
      font-size: 16px;
    }
  }
}
