@import "../../styles/vars.scss";

.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: $black;
  color: $white;

  ul {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.copyright {
  font-size: 16px;

  & p + p {
    margin-top: 0.5em;
  }
}

@media (max-width: 440px) {
  .footer {
    img {
      width: 24px;
      height: 24px;
    }
  }

  .copyright {
    font-size: 12px;
  }
}
